*{
    box-sizing: border-box;
    margin: 0;
}
/* colores */

/* Primary
Pink: hsl(322, 100%, 66%)
Neutral
Very Pale Cyan: hsl(193, 100%, 96%)
Very Dark Cyan: hsl(192, 100%, 9%)
Grayish Blue: hsl(208, 11%, 55%) */

/* header */

header{
    display: flex;
    justify-content:space-between ;
    padding: 50px;
}
header button{
    color:hsl(192, 100%, 9%) ;
    border: 1 solid whitesmoke;
    border-radius: 5px ;
    width: 15%;
    margin-right: 4%;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


